@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* body */
*, body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
  font-weight: "semi-bold";
  background-color: rgb(34, 34, 37);
  color:white;
}

/* nav */
.nav {
  margin: 0 auto;
  width: 1600px;
  height: auto;
  padding: 10px;
}

.nav-flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-family: "Inter";
  font-weight: bold;
  font-size: 25px;
  width: auto;
}

.nav-list-flex {
  display: flex;
  align-items: center;
  justify-content: right;
}

.nav-list-item {
  margin-right: 10px;
  margin-left: 10px;
}

.nav-list-item-end {
  margin-left: 10px;
}

a:link {
  color: whitesmoke;
  text-decoration: none;
}
