/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

/* Body */
*, body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
  font-weight: 500;
  background-color: rgb(34, 34, 37);
  color:white;
}

/* Navigation Bar */
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 0.1%;
  margin-bottom: 0.01%;
}

.nav-item {
  margin: 10px;
  font-size: 1rem;
}

.nav-item:nth-of-type(1) {
  margin-left: 4%;
  font-family: "Inter";
  font-weight: 700;
  font-size: 1.5rem;
}

.nav-item:nth-of-type(2) {
  margin-left: auto;
}

.nav-item:nth-of-type(4) {
  margin-right: 4%;
}

/* Main Body */
.main-body {
  padding-right: 10%;
  padding-left: 10%;
  display: flex;
  justify-content: space-between;
}

.body-text {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
}

.body-item:nth-of-type(1) {
  margin-top: 18rem;
  font-size: 2.8rem;
  width: auto;
  font-weight: 700;
}

.body-item:nth-of-type(2) {
  margin-top: 0.5rem;
  font-size: 1rem;
  width: auto;
  font-weight: 500;
}

.body-item:nth-of-type(3) {
  margin-top: 1rem;
  display: flex;
}

.body-item:nth-of-type(4) {
  display: flex;
  float: right;
}

/* Other Formatting */

a:link {
  color: whitesmoke;
  text-decoration: none;
}
